@import "tailwindcss";

@theme {
  --color-brand-orange: #FF9900;
  --color-brand-dark: #121212;
  --color-brand-gray: #1E1E1E;
  --color-brand-light-gray: #333232;
  
  --font-sans: "Montserrat", ui-sans-serif, system-ui;
}

@layer base {
  .no-scroll {
    overflow: hidden;
  }
  body {
    background-color: var(--color-brand-dark);
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}